# Terraform directories and state files
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate*
terraform.tfvars

# SSH keys and SSL certificates
terraform/data/ssh/*
!data/ssh/*.example
terraform/data/ssl/*
!data/ssl/*.example
terraform/data/services/*

# Node_modules and other common ignores (se presente codice Node)
node_modules/
dist/
build/

# Log files
*.log

# OS-specific
.DS_Store
Thumbs.db
