aws_access_key       = "YOUR_AWS_ACCESS_KEY"
aws_secret_key       = "YOUR_AWS_SECRET_KEY"
aws_region           = "eu-north-1"
vpc_cidr_block       = "10.0.0.0/16"
frontend_cidr_block  = "10.0.1.0/24"
backend_cidr_block   = "10.0.2.0/24"
ami_id               = "ami-XXXXXXXXXXXXXXX"
instance_type        = "t3.nano"
ssh_private_key_path = "./data/ssh/id_rsa_terraform"
ssh_public_key_path  = "./data/ssh/id_rsa_terraform.pub"
